@font-face {
  font-family: 'Lato-Black';
  font-weight: 900;
  font-style: normal;
  src:
    url('../fonts/Lato-Black.woff2') format('woff2'),
    url('../fonts/Lato-Black.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/Lato-bold.woff2') format('woff2'),
    url('../fonts/Lato-bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Black';
  font-weight: 900;
  font-style: normal;
  src:
    url('../fonts/Montserrat-Black.woff2') format('woff2'),
    url('../fonts/Montserrat-Black.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src:
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
}
