@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "animation";

@import "pages/home";


@import "components/header";
@import "components/footer";


.logo {
  &__img {
    max-height: 25px;
  }
}

.jq-ry-container {
  padding: 0;
  margin-bottom: 5px;
}