.header {
  padding: 60px 0 222px;

  @include r(1199) {
    padding: 60px 0 100px;
  }

  @include r(575) {
    padding: 60px 0 50px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;

    &.header__top--active {
      .menu__list {
        transform: translateY(0%);
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @include r(575) {
      flex-wrap: wrap;
    }
  }

  &__content {
    margin-top: 137px;

    @include r(768) {
      margin-top: 50px;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__desc {
    line-height: 1.6;
    max-width: 386px;
    margin-bottom: 69px;

    @include r(991) {
      font-size: 16px;
    }

    @include r(768) {
      font-size: 14px;
    }
  }

  &__review {
    display: flex;
    margin-top: 195px;
    max-width: 830px;
    border-radius: 8px;
    width: 100%;
    background-color: $white-color;
    margin-right: 155px;

    @include r(991) {
      flex-wrap: wrap;
    }

    @include r(768) {
      margin-top: 60px;
      margin-right: 0;
    }
  }

  &__review-content {
    padding: 24px 88px 45px 40px;
  }

  &__text {
    font-size: 14px;
    margin-top: 25px;
  }

  &__popup {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 277px;
    width: 100%;
    max-height: 184px;
    background-repeat: no-repeat;
    background-size: cover;

    @include r(991) {
      max-width: 100%;
    }
  }

  &__popup-link {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 20px 18px 24px;
    border-radius: 50%;

    @include r(991) {
      background-color: rgba(0, 0, 0, 0.623);
    }
  }

  &__popup-icon {
    width: 13px;
    height: 16px;
  }

  &__image {
    max-width: 444px;
    max-height: 963px;

    @include r(1199) {
      max-width: 100%;
      max-height: 630px;
    }

    @include r(768) {
      max-height: 260px;
    }

    @include r(575) {
      max-height: 290px;
      margin: 10px auto 0;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    max-height: 842px;
    max-width: 242px;

    @include r(1199) {
      display: none;
    }
  }

  &__social-list {
    display: flex;
    transform: rotate(-90deg);
  }

  &__social-item {

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__social-link {
    font-size: 16px;
  }
}

.menu {
  margin-right: 190px;

  @include r(1199) {
    margin-left: auto;
    margin-right: 40px;
  }

  @include r(575) {
    margin-right: 10px;
  }

  &__btn {
    display: none;


    &:hover .menu__icon {
      transform: scale(1.1);
    }

    @include r(1199) {
      display: block;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      position: relative;
      z-index: 11;
      text-align: center;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    transition: transform 0.5s;
  }

  &__list {
    display: flex;

    @include r(1199) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: #8a85818f;
      display: block;
      text-align: center;
      z-index: 10;
      transform: translateY(-200%);
      transition: all .5s;

      padding-top: 101px !important;
    }
  }

  &__item {

    position: relative;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

    &:hover {

      animation: rotate 0.7s ease-in-out both;

      &:before,
      &:after {
        opacity: 0.15;
        transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
      }

      &:before {
        transform: translate3d(50%, 0, 0) scale(0.9);
      }

      &:after {
        transform: translate(50%, 0) scale(1.1);
      }
    }

    &:not(:last-child) {
      margin-right: 35px;

      @include r(1199) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__link {
    font-size: 15px;
    text-transform: uppercase;

    transition: color 0.3s;

    &:hover {
      color: $accent-color;
      transition: color 0.4s;
    }

    @include r(1199) {
      padding: 10px 0;
      display: block;
    }

    @include r(575) {
      font-size: 14px;
    }
  }

}

.user-nav {

  &__link {
    background-color: #efefef;
    padding: 17px 12px 11px 12px;
    border-radius: 50%;
    transition: background-color 0.5s;

    @include r(575) {
      padding: 13px 10px 7px 10px;
    }

    &:hover {
      background-color: $accent-color;

      &:hover .user-nav__icon {
        transform: scale(1.1);
      }
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include r(575) {
        margin-right: 10px;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    transition: transform 0.5s;

    @include r(575) {
      width: 20px;
      height: 20px;
    }
  }
}