.advantages {
  padding: 62px 0 150px;

  @include r(1199) {
    padding: 31px 0 75px;
  }

  @include r(575) {
    padding: 31px 0 25px;
  }

  &__inner {
    display: flex;
    padding: 163px 72px 181px 64px;
    background-color: rgba(247, 248, 249, 0.7);

    @include r(768) {
      display: block;
    }

    @include r(575) {
      padding: 80px 72px 90px 64px;
    }
  }

  &__author {
    font-size: 16px;

    @include r(575) {
      font-size: 14px;
    }
  }

  &__title {
    margin-top: 28px;
    margin-right: 123px;

    max-width: 505px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 6px;
      background-color: #8B6CCA;
      left: 0;
      top: -94px;
    }

    @include r(1199) {
      margin-right: 10px;
      max-width: 100%;
    }

    @include r(991) {
      margin-right: 0;
    }
  }

  &__list {
    display: flex;

    @include r(1199) {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 255px;
    padding-top: 55px;

    &:not(:last-child) {
      margin-right: 38px;

      @include r(1199) {
        margin-right: 0;
      }
    }
  }

  &__name {
    font-size: 25px;
    @extend %lato-900;
    margin-bottom: 18px;

    @include r(575) {
      font-size: 20px;
    }
  }

  &__desc {
    opacity: 0.8;

    @include r(575) {
      font-size: 14px;
    }
  }
}

.about {
  padding: 150px 0 0;

  @include r(991) {
    padding: 25px 0 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include r(768) {
      display: block;
    }
  }

  &__content {
    margin-right: 137px;
    max-width: 791px;
    width: 100%;

    @include r(1199) {
      margin-right: 50px;
    }

    @include r(575) {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }

  &__img {
    max-width: 692px;
    width: 100%;
    max-height: 876px;
    margin-bottom: 25px;
    border-radius: 6px;
  }

  &__title {
    position: relative;
    max-width: 791px;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 42px;

    &::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 6px;
      background-color: #8B6CCA;
      left: 3px;
      top: -42px;
    }
  }

  &__text {
    margin-bottom: 99px;
    padding-left: 5px;
    max-width: 287px;
    line-height: 1.6;
  }

  &__btn {
    color: $accent-color;
    position: relative;
    padding-right: 26px;
    padding-left: 5px;

    &::after {
      position: absolute;
      content: url(../images/icons/arrow.svg);
      right: 0;
      top: 0;
    }
  }

  &__content-item {
    margin-top: 172px;

    @include r(768) {
      margin-top: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    margin-bottom: 250px;

    @include r(991) {
      margin-bottom: 97px;
    }

    @include r(575) {
      margin-bottom: 50px;
    }
  }

  &__desc {
    max-width: 396px;
  }
}

.order {
  background-repeat: no-repeat;
  background-position: left center;
  margin: 50px 0 0;
  background-size: 51%;
  padding-bottom: 250px;
  position: relative;
  z-index: 1;

  @include r(1199) {
    background-size: 100%;
    padding-bottom: 150px;
  }

  @include r(768) {
    padding-bottom: 0;
  }


  &__inner {
    display: flex;
    justify-content: space-between;

    @include r(1199) {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 980px;
    width: 100%;
    padding-bottom: 50px;

    @include r(575) {
      padding-bottom: 100px;
    }
  }

  &__title {
    font-size: 66px;
    color: #fff;
    @extend %monserrat-800;
    margin-bottom: 25px;
    margin-top: 35px;

    @include r(1199) {
      font-size: 56px;
      margin-bottom: 0;
    }

    @include r(991) {
      font-size: 46px;
    }

    @include r(768) {
      font-size: 26px;
    }

    @include r(575) {
      color: $default-color;
      margin-top: 0;
    }
  }

  &__desc {
    max-width: 254px;
    color: #fff;

    @include r(991) {
      max-width: 100%;
    }

    @include r(575) {
      color: $default-color;
    }
  }

  &__right {
    margin-top: 50px;

    @include r(1199) {
      color: #fff;
    }

    @include r(768) {
      margin-top: 25px;
      padding-bottom: 40px;
    }
  }

  &__title-lg {
    margin-bottom: 40px;

    @include r(1199) {
      font-size: 56px;
    }

    @include r(991) {
      font-size: 46px;
    }

    @include r(768) {
      font-size: 26px;
    }
  }

  &__text {
    margin-bottom: 75px;
    max-width: 244px;
    line-height: 1.5;


  }

  &__btn {
    @include r(1199) {
      background-color: #ffffff87;
      color: $default-color;
    }
  }
}